<a href="{{ book.get_absolute_url }}" class="book-card">
    <div class="book-card__spine-wrap">
        <div class="book-card__cover">
            <div class="book-card__no-cover">{{ book.title|truncatechars:40 }}</div>
            {% if book.cover_url %}
                <img src="{{ book.cover_url }}" alt="{{ book.title }}" loading="lazy" data-cover>
            {% endif %}
        </div>
    </div>
    <div class="book-card__meta">
        <div class="book-card__title">{{ book.title }}</div>
        {% if book.author %}<div class="book-card__author">{{ book.author.name }}</div>{% endif %}
        {% if show_count and book.recommendations_total %}
            <div class="book-card__count">
                <i data-lucide="music" size="12" aria-hidden="true"></i> {{ book.recommendations_total }}
            </div>
        {% endif %}
    </div>
</a>
